- @user_email_flag = "?uef=#{ @user_email.to_the_encrypted }"
- @title = "Новости Открытой Кухни. 16 ноября 2014"

%table{ table, width: 800 }
  %tr{}
    %td{ td, style: text_center + bg('#f3f3f3') }
      = email_image('open-cook/OK-BASE-LOGO.png')

  %tr{}
    %td{ td, style: p10 }
      %h3{ style: zero + arial + fs18 + italic + mb10 + lh200 + text_center } Вас приветствует кулинарный сайт "Открытая Кухня Анны Нечаевой"

      - p_style = zero + arial + mb13 + lh150 + fs16

      -# HELLO WORLD!
      %table{ table, style: w('100%') + mt20 }
        %tr{}
          %td{ td, style: w('200px') + text_left }
            = email_image('open-cook/Anna.png')
          %td{ td, style: w('90%') + text_left + pl20 }
            %p{ style: p_style }
              Здравствуйте, наши любимые друзья и дорогие подписчики!

            %p{ style: p_style }
              Что интересного случилось за прошедшие дни на нашей
              #{ link_to('Открытой Кухне', "http://open-cook.ru#{ @user_email_flag }", style: fc('#000099', true)) }:


      -# SECTION 1
      %p{ style: zero + arial + fs25 + mb20 + mt20 + p10 + text_center + fc('#000099', true) + bg('#e9e3fb') }
        Букеты из овощей

      %table{ table, style: w('100%') + mt20 }
        %tr{}
          %td{ td, style: w('300px') + text_left }
            = email_image('open-cook/flowers.png')
          %td{ td, style: text_left + pl20 }
            %p{ style: p_style + lh200 }
              Мы выложили статью об одном интересном проекте нашего друга
              #{ link_to '"Букеты из овощей"', "http://open-cook.ru/posts/bukety-iz-ovoschej#{ @user_email_flag }" },
              в которой вы увидите красивые фотографии, сделанные нами, и узнаете, что овощи бывают крайне фотогиничными и красивыми. Уверены, они не оставят вас равнодушными и сильно удивят!

            %p{ style: p_style + fs18 }
              = link_to 'Подробнее о букетах &raquo;', "http://open-cook.ru/posts/bukety-iz-ovoschej#{ @user_email_flag }"

      -# SECTION 2
      %p{ style: zero + arial + fs25 + mb20 + mt20 + p10 + text_center + fc('#000099', true) + bg('#e9e3fb') }
        Готовимся к празднику!

      %table{ table, style: w('100%') + mt20 }
        %tr{}
          %td{ td, style: w('300px') + text_left }
            = email_image('open-cook/recipes.png')
          %td{ td, style: text_left + pl20 }
            %p{ style: p_style }
              На сайте появились новые рецепты праздничных блюд:

            %p{ style: p_style }
              1)
              = link_to 'Куриные рулеты с ананасом и брусникой', "http://open-cook.ru/recipes/kurinye-rulety-s-ananasom-i-brusnikoj#{ @user_email_flag }"
            %p{ style: p_style }
              2)
              = link_to 'Свиная шея с чесноком в смеси розмарина и пяти перцев', "http://open-cook.ru/recipes/svinaya-sheya-s-chesnokom-v-smesi-rozmarina-i-pyati-pertsev#{ @user_email_flag }"
            %p{ style: p_style }
              3)
              = link_to 'Волшебные Морковные капкейки', "http://open-cook.ru/recipes/morkovnye-kapkejki#{ @user_email_flag }"

      -# SECTION 3
      %p{ style: zero + arial + fs25 + mb20 + mt20 + p10 + text_center + fc('#000099', true) + bg('#e9e3fb') }
        Чулан

      %table{ table, style: w('100%') + mt20 }
        %tr{}
          %td{ td, style: w('300px') + text_left }
            = email_image('open-cook/mouse.png')
          %td{ td, style: text_left + pl20 }
            %p{ style: p_style }
              А еще наш
              = link_to "Чулан", "http://open-cook.ru/hubs/hots#{ @user_email_flag }"
              пополнился новыми интересными видео и картинками:
            %p{ style: p_style }
              1)
              = link_to 'Жорик, а это не опасно?', "http://open-cook.ru/hots/zhorik-eto-ne-opasno#{ @user_email_flag }"
            %p{ style: p_style }
              2)
              = link_to 'Хомяки-бармены', "http://open-cook.ru/hots/nichego-osobennogo-eto-prosto-khomyaki-barmeny#{ @user_email_flag }"
            %p{ style: p_style }
              3)
              = link_to 'На своей кухне я покруче Чака Норриса!', "http://open-cook.ru/hots/na-svoej-kukhne-ya-pokruche-chaka-norrisa#{ @user_email_flag }"


      -# SECTION 4
      %p{ style: zero + arial + fs25 + mb20 + mt20 + p10 + text_center + fc('#000099', true) + bg('#e9e3fb') }
        О наших планах

      %table{ table, style: w('100%') + mt20 }
        %tr{}
          %td{ td, style: w('300px') + text_left }
            = email_image('open-cook/cups.png')
          %td{ td, style: text_left + pl20 }
            %p{ style: p_style + lh200 }
              На следующей неделе вы увидите на сайте отчет о доставке продуктов от <b>"Партия еды"</b>, второй <b>отчет о винной дегустации</b>, новые рецепты и статьи об истории происхождения всеми любимых новогодних блюд!


      -# WIN
      %p{ style: zero + arial + fs25 + mb20 + mt20 + p10 + text_center + fc('#000099', true) + bg('#e9e3fb') }
        Народное голосование. Фактически мы победили!

      %table{ table, style: w('100%') + mt20 }
        %tr{}
          %td{ td, style: text_left + pl10 + pr20 }
            %p{ style: p_style }
              Друзья, в прошлом письме мы сообщали вам о том, что наш сайт принимает участие в народном голосовании в конкурсе "Золотой Сайт 2014".
            %p{ style: p_style }
              Мы участвовали в 2х номинациях и в обеих, по результатам открытого голосования, получили
              %b{ style: nobr } 3-е место!
            %p{ style: p_style }
              Если принять во внимание то, что впереди нас оказались только крупные коммерческие сайты и порталы,
              количество пользователей которых исчисляется миллионами, то мы не без гордости можем подвести итог - фактически мы победили!
            %p{ style: p_style + bold }
              Эта наше общее с вами достижение!
              %br
              Спасибо Вам за вашу поддержку!

  %tr{}
    %td{ td, style: text_left + bg('#e9e3fb') + p30 }
      - p_style = zero + arial + mb20 + lh100
      %p{ style: p_style } Так же вы можете присоединиться к нам в популярных социальных сетях:

      %p{ style: p_style }
        ВКонтакте:
        = link_to 'vk.com/opencook', 'https://vk.com/opencook', style: arial + fs18 + fc('#000099', true)

      %p{ style: p_style }
        Одноклассинки:
        = link_to 'ok.ru/opencook', 'http://www.ok.ru/opencook', style: arial + fs18 + fc('#000099', true)

      %p{ style: p_style }
        Живой Журнал (ЖЖ, LJ):
        = link_to 'mrs_home.livejournal.com', 'http://mrs_home.livejournal.com', style: arial + fs18 + fc('#000099', true)

      %p{ style: p_style }
        Instagram:
        = link_to 'instagram.com/mrs_home', 'http://instagram.com/mrs_home', style: arial + fs18 + fc('#000099', true)

      %p{ style: p_style + mb0 }
        Twitter:
        = link_to 'twitter.com/opencook_ru', 'https://twitter.com/opencook_ru', style: arial + fs18 + fc('#000099', true)

  %tr{}
    %td{ td, style: text_left + bg('#fcedbb') + p30 }
      %p{ style: zero + arial  + mb10  + lh150 }
        Вы получили это письмо на email #{ mail_to(@user_email, @user_email, style: fc('#000099', true)) }, потому что кто-то (надеемся вы сами), подписался на получение новостей от сайта
        #{ link_to('open-cook.ru', "http://open-cook.ru/#{ @user_email_flag }", style: fc('#000099', true)) }. Возможно, однажды вы оставили свой адрес электронной почты в комментариях на нашем сайте или кто-то из ваших друзей решил сделать вам сюрприз, указав ваш email в форме подписки.

      %p{ style: zero + arial  + mb10  + lh150 }
        Если вы считаете что это письмо пришло к вам по ошибке или вы не хотите получать от нас письма, то просто остановите подписку, перейдя по следующей ссылке:

      %p{ style: zero + arial  + mb0  + lh150 }
        = link_to ' Больше НЕ ПОЛУЧАТЬ Новости Открытой Кухни', @unsubscribe_link, style: fc('#ff0000', true)

  %tr{}
    %td{ td, style: text_left + bg('#f3f3f3') + p10 }
      %table{ table }
        %tr
          %td{ td }
            = email_image('open-cook/mixer.png')
          %td{ td, style: pl20 + pt10 }
            - p_style = zero + fs15 + times + italic + mb10
            %p{ style: p_style } Это письмо отправлено вам миксером Анны Нечаевой.
            %p{ style: p_style } Даже если вы попробуете написать ему, миксер врядли что-то вам ответит.
            %p{ style: p_style } Увы!
