- @user_email_flag = "?uef=#{ @user_email.to_the_encrypted }"
- @title = "Новости Открытой Кухни. 24 ноября 2014"

%table{ table, width: 800 }
  %tr{}
    %td{ td, style: text_center + bg('#f3f3f3') }
      = email_image('open-cook/OK-BASE-LOGO.png')

  %tr{}
    %td{ td, style: p10 }
      %h3{ style: zero + arial + fs18 + italic + mb10 + lh200 + text_center } Вас приветствует кулинарный сайт "Открытая Кухня Анны Нечаевой"

      - p_style = zero + arial + mb13 + lh150 + fs16

      -# HELLO WORLD!
      %table{ table, style: w('100%') + mt20 }
        %tr{}
          %td{ td, style: w('200px') + text_left }
            = email_image('open-cook/Anna.png')
          %td{ td, style: w('90%') + text_left + pl20 }
            %p{ style: p_style }
              Здравствуйте, наши любимые друзья и дорогие подписчики!

            %p{ style: p_style }
              Прошедшая неделя была очень насыщенной и плодотворной.
              Вот что интересного произошло за это время на нашей
              #{ link_to('Открытой Кухне', "http://open-cook.ru#{ @user_email_flag }", style: fc('#000099', true)) }:

      -# SECTION 1
      %p{ style: zero + arial + fs25 + mb20 + mt20 + p10 + text_center + fc('#000099', true) + bg('#e9e3fb') }
        День рождения Деда Мороза

      %table{ table, style: w('100%') + mt20 }
        %tr{}
          %td{ td, style: w('300px') + text_left }
            = link_to "http://open-cook.ru/recipes/mandarinovyj-pirog#{ @user_email_flag }", style: m0 + p0 do
              = email_image('open-cook/mandarin.jpg', alt: "Мандариновый пирог", title: "Мандариновый пирог", style: img_zero)

          %td{ td, style: text_left + pl20 }
            %p{ style: p_style + lh200 }
              Мы праздновали День рождения Деда Мороза и пекли
              #{ link_to 'Мандариновый пирог', "http://open-cook.ru/recipes/mandarinovyj-pirog#{ @user_email_flag }" },
              рецепт которого уже на сайте. Это самая настоящая мандариновая бомба!

            %p{ style: p_style + fs18 }
              = link_to 'Рецепт мандаринового пирога &raquo;', "http://open-cook.ru/recipes/mandarinovyj-pirog#{ @user_email_flag }"

      -# SECTION 2
      %p{ style: zero + arial + fs25 + mb20 + mt20 + p10 + text_center + fc('#000099', true) + bg('#e9e3fb') }
        Готовимся к праздникам!

      %table{ table, style: w('100%') + mt20 }
        %tr{}
          %td{ td, style: w('300px') + text_left }

            = link_to "http://open-cook.ru/posts/novogodnie-retsepty-2015#{ @user_email_flag }", style: m0 + p0 do
              = email_image('open-cook/celebr.jpg', alt: "Новогодние рецепты", title: "Новогодние рецепты", style: img_zero)

          %td{ td, style: text_left + pl20 }
            %p{ style: p_style }
              Наша копилка новогодних рецептов пополнилась новыми блюдами:

            %p{ style: p_style }
              1)
              = link_to 'Салат с лососем и мандаринами', "http://open-cook.ru/recipes/salat-s-lososem-i-mandarinami#{ @user_email_flag }"
            %p{ style: p_style }
              2)
              = link_to 'Каре ягненка с лимоном и розмарином', "http://open-cook.ru/recipes/kare-yagnenka-s-limonom-i-rozmarinom#{ @user_email_flag }"
            %p{ style: p_style }
              3)
              = link_to 'Рулеты из огурцов с яичным салатом', "http://open-cook.ru/recipes/rulety-iz-ogurtsov-s-yaichnym-salatom#{ @user_email_flag }"

      -# SECTION 3
      %p{ style: zero + arial + fs25 + mb20 + mt20 + p10 + text_center + fc('#000099', true) + bg('#e9e3fb') }
        Оливье. Почти детективная история

      %table{ table, style: w('100%') + mt20 }
        %tr{}
          %td{ td, style: w('300px') + text_left }

            = link_to "http://open-cook.ru/posts/istoriya-salata-olivie#{ @user_email_flag }", style: m0 + p0 do
              = email_image('open-cook/olivie.jpg', alt: "История салата Оливье", title: "История салата Оливье", style: img_zero)

          %td{ td, style: text_left + pl20 }
            %p{ style: p_style }
              Я написала довольно забавную статью об истории <b>салата "Оливье"</b>, надеюсь, она вам понравится

            %p{ style: p_style + fs18 }
              = link_to 'История салата "Оливье" &raquo;', "http://open-cook.ru/posts/istoriya-salata-olivie#{ @user_email_flag }"

      -# SECTION 4
      %p{ style: zero + arial + fs25 + mb20 + mt20 + p10 + text_center + fc('#000099', true) + bg('#e9e3fb') }
        Новые рецепты на каждый день

      %table{ table, style: w('100%') + mt20 }
        %tr{}
          %td{ td, style: w('300px') + text_left }

            = link_to "http://open-cook.ru#{ @user_email_flag }", style: m0 + p0 do
              = email_image('open-cook/everday.jpg', alt: "На каждый день", title: "На каждый день", style: img_zero)

          %td{ td, style: text_left + pl20 }
            %p{ style: p_style }
              Для будничных ужинов у нас для вас есть рецепты:

            %p{ style: p_style }
              1)
              = link_to 'Картофельный гратен с беконом', "http://open-cook.ru/recipes/kartofelnyj-graten-s-bekonom#{ @user_email_flag }"
            %p{ style: p_style }
              2)
              = link_to 'Каннелони (Cannelloni) с говяжьим фаршем', "http://open-cook.ru/recipes/kanneloni-cannelloni-s-govyazhim-farshem#{ @user_email_flag }"

      -# SECTION 5
      %p{ style: zero + arial + fs25 + mb20 + mt20 + p10 + text_center + fc('#000099', true) + bg('#e9e3fb') }
        Чулан

      %table{ table, style: w('100%') + mt20 }
        %tr{}
          %td{ td, style: w('300px') + text_left }
            = email_image('open-cook/chulan.jpg')
          %td{ td, style: text_left + pl20 }
            %p{ style: p_style }
              А еще наш
              = link_to "Чулан", "http://open-cook.ru/hubs/hots#{ @user_email_flag }"
              пополнился заметкой о празднике молодого вина <b>"Божоле Нуво"</b>:

            %p{ style: p_style + fs18 }
              = link_to 'День Божоле Нуво &raquo;', "http://open-cook.ru/hots/den-bozhole-nuvo#{ @user_email_flag }"

      -# SECTION 6
      %p{ style: zero + arial + fs25 + mb20 + mt20 + p10 + text_center + fc('#000099', true) + bg('#e9e3fb') }
        О наших планах

      %table{ table, style: w('100%') + mt20 }
        %tr{}
          %td{ td, style: w('300px') + text_left }
            = email_image('open-cook/next.jpg')
          %td{ td, style: text_left + pl20 }
            %p{ style: p_style + lh200 }
              А на грядущей неделе вас ждет рецепт пирога с мандаринами и розмарином, рецепт торта "Сказка" по ГОСТу, история создания салата "Селедка под шубой", рассказ о необычном варенье и отчет о дегустации Хересов.

  %tr{}
    %td{ td, style: text_left + bg('#e9e3fb') + p30 }
      - p_style = zero + arial + mb20 + lh100
      %p{ style: p_style } Так же вы можете присоединиться к нам в популярных социальных сетях:

      %p{ style: p_style }
        ВКонтакте:
        = link_to 'vk.com/opencook', 'https://vk.com/opencook', style: arial + fs18 + fc('#000099', true)

      %p{ style: p_style }
        Одноклассинки:
        = link_to 'ok.ru/opencook', 'http://www.ok.ru/opencook', style: arial + fs18 + fc('#000099', true)

      %p{ style: p_style }
        Живой Журнал (ЖЖ, LJ):
        = link_to 'mrs_home.livejournal.com', 'http://mrs_home.livejournal.com', style: arial + fs18 + fc('#000099', true)

      %p{ style: p_style }
        Instagram:
        = link_to 'instagram.com/mrs_home', 'http://instagram.com/mrs_home', style: arial + fs18 + fc('#000099', true)

      %p{ style: p_style + mb0 }
        Twitter:
        = link_to 'twitter.com/opencook_ru', 'https://twitter.com/opencook_ru', style: arial + fs18 + fc('#000099', true)

  %tr{}
    %td{ td, style: text_left + bg('#fcedbb') + p30 }
      %p{ style: zero + arial  + mb10  + lh150 }
        Вы получили это письмо на email #{ mail_to(@user_email, @user_email, style: fc('#000099', true)) }, потому что кто-то (надеемся вы сами), подписался на получение новостей от сайта
        #{ link_to('open-cook.ru', "http://open-cook.ru/#{ @user_email_flag }", style: fc('#000099', true)) }. Возможно, однажды вы оставили свой адрес электронной почты в комментариях на нашем сайте или кто-то из ваших друзей решил сделать вам сюрприз, указав ваш email в форме подписки.

      %p{ style: zero + arial  + mb10  + lh150 }
        Если вы считаете что это письмо пришло к вам по ошибке или вы не хотите получать от нас письма, то просто остановите подписку, перейдя по следующей ссылке:

      %p{ style: zero + arial  + mb0  + lh150 }
        = link_to ' Больше НЕ ПОЛУЧАТЬ Новости Открытой Кухни', @unsubscribe_link, style: fc('#ff0000', true)

  %tr{}
    %td{ td, style: text_left + bg('#f3f3f3') + p10 }
      %table{ table }
        %tr
          %td{ td }
            = email_image('open-cook/mixer.png')
          %td{ td, style: pl20 + pt10 }
            - p_style = zero + fs15 + times + italic + mb10
            %p{ style: p_style } Это письмо отправлено вам миксером Анны Нечаевой.
            %p{ style: p_style } Даже если вы попробуете написать ему, миксер вряд ли что-то вам ответит.
            %p{ style: p_style } Увы!
